<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta content="ppLbxa8hqqvJP+Pneu2G4JcxeXnsKzpewOnc0Ib5+qs=" name="csrf-token">
</head>
<body>
	<div id="main-menu"></div>
	<div id="main"></div>
	<%= yield %>
</body>
</html>
